<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Maxi</strong>. I'm a software engineer and data scientist based in Los Angeles.
    You can follow me on <a href="https://www.twitter.com/Charca" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/Charca" target="_blank">GitHub</a>,
    or read more about me on <a href="https://www.maxiferreira.com" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
