<footer>
  <span>
    &copy; {new Date().getFullYear()} Your Blog.
    Powered by <a href="https://astro.build" target="_blank">Astro</a>.
    Template by <a href="https://www.twitter.com/Charca" target="_blank">Maxi Ferreira</a>.
  </span>
</footer>

<style>
  footer {
    color: #AAA;
    font-size: 1em;
    font-family: var(--font-family-sans);
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
