<footer>
  <span>
    &copy; {new Date().getFullYear()} Your Blog.
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    Template by <a href="https://www.twitter.com/Charca" target="_blank" rel="noopener">Maxi Ferreira</a>.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
